# Ignore all output folders
output_*/

# Python virtual environment
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Log files
*.log

# Temporary files
*.tmp

# Environment variables file (if you're using one)
.env